body{
background-color: transparent;
margin-top: 0px;
}

 .parallax1 { 
    /* The image used */
    background-image: linear-gradient(to bottom, transparent, #DAE2F0), url('../images/geoCircle4.jpg');
    /* /* Set a specific height */
    min-height:700px; 
     /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;

}

 
 .heading {
     margin-bottom: 2px;
     margin-left: 40px;
     margin-top: 0px;
     color: #596280;
     font-size: 40px;
     font-family: 'Raleway', sans-serif;
     text-shadow: rgb(5, 14, 53) 0 2px 2px;
     
    } 

 .headingA, .headingB {
     
     margin-bottom: 2px;
     margin-left: 40px;
     color:#596280;
     font-size: 40px;
     font-family: 'Raleway', sans-serif;
     text-shadow: rgb(5, 14, 53) 0 2px 2px;
 }
 
 .caption1 {
     padding-top: 290px;
 }
 .upper-icons {
    margin-top: 30px;
    margin-left: 50px;     
 }
 i {
     margin-right: 10px;
     color: #313649;
 }
 #aboutMeDiv {
     background-color: white;
     margin-top: 30px;
     padding-bottom: 20px;
    }
    #cliffImg {
        height: 200px;
        width: 394px;
        float: right;
        padding-right: 75px;
        margin-top: 70px;
        opacity: .8;
        background-image: url('../images/cliffs200px.jpg');
        box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    }
 p {
    color: #313649;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    
    }
.about-me-text {
    width: 700px;
}

 #about-me, .headingC {
    margin-left: 0px;
    color: #596280;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-shadow: rgb(54, 66, 110) 0 2px 2px;

 }
 .headingC {
     margin-left: 100px;
 }
 .parallax2 { 
    background-image: linear-gradient(to bottom, transparent, #DAE2F0), url('../images/geoCircle4flip.jpg');
    min-height:900px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 0px;
    z-index: 9;
}
#projects {
    margin-bottom: 50px;
}
.caption2 {
    padding-top: 50px;
    padding-bottom: 75px;
}

 .thumbnail {
     box-shadow: 5px 5px 15px
      rgba(0,0,0,0.75);
 }
 #contact-info-div {
     
    
     padding-top: 0px;
     margin-top: 20px;
     background-color: white;
     height:200px;
     width: 100%;
 }
 .about-me {
     padding-left: 75px;
     
     color: #596280;
     font-size: 40px;
     font-family: 'Raleway', sans-serif;
     text-shadow: rgb(54, 66, 110) 0 2px 2px;
 }
 .contactText {
     width: 250px;
 }
 .h2Contact {
    padding-left: 75px;
    width: 250px;
    color: #596280;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-shadow: rgb(54, 66, 110) 0 2px 2px;
}
 #lower-icons { 
     width: 350px; 
     padding-right: 0px;
     padding-left: 75px;
    

 }
 .parallax3 {
    background-image: linear-gradient(to bottom, transparent, #DAE2F0),url('../images/geoCircle4.jpg');
    min-height:300px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 0px;
    
 }
 .btn {
     font-size: 22px;
     font-weight: bold;
 }
 
 
 .copyright {
     font-size: 8px;
     padding-top: 40px;
     
 }
 img.cliffs {
     float: right;
     
}


 