body {
    background-color: #FBF8F3;
    /* background-color: transparent; */
    margin-top: 0px;
}

* {
    font-family: 'Raleway', sans-serif;
    color: #49526B;
}

.container {
    padding-left: 0;
}

.parallax1 {
    background-image:
        
        url('../images/Untitled-2.svg');
    width: 100%;
    
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   
}

.heading {
    font-size: 40px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-top: 0px;
}

.top-title {
    margin-top: 5%;
    margin-bottom: 30px;
    margin-left: 7%;
    margin-right: auto;

    padding: 10px 20px 0px 20px;
    background-color: #FBF8F3;
    /* background-color: #C6CDB7; */

    display: inline-block;
    /* border-left: 3px solid #49526B; */
    /* border-radius:3px 0 0 3px; */
    border: solid 7px #BAB8B7;
    -webkit-box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    /* Copy Text  */

}

nav.top-nav {
    background-color: #FBF8F3;
    padding: 0;
}


i {
    color: #313649;
}

#aboutMeDiv {
    /* background-color: #F9E7B1; */
    background-color: #C6CDB7;

    padding: 7px 10px 0px 10px;
    /* padding-top: 15px; */
    /*  */
    border: solid 7px #BAB8B7;
    border-radius: 0px 45px 0px 45px;
    /* -webkit-box-shadow: -1px 25px 14px -12px rgba(0,0,0,0.49);
    -moz-box-shadow: -1px 25px 14px -12px rgba(0,0,0,0.49);
    box-shadow: -1px 25px 14px -12px rgba(0,0,0,0.49); */
}

p {
    font-size: 20px;

}

h2#about-me-title {
    margin-left: 15px;
    font-size: 2em;
    font-weight: 600;

    /* background-color: #C6CDB7; */

    display: inline-block;
    /* border-left: 3px solid #49526B; */
    /* border-radius:3px 0 0 3px; */


    /* font-size: 40px; */
    /* text-shadow: rgb(54, 66, 110) 0 2px 2px; */
}

.about-title {
    font-size: 2em;
    font-weight: 500;
}

.applications-title {
    margin-left: 0px;
    margin-top: 0px;


    padding: 10px 20px 10px 20px;
    font-size: 2em;
    font-weight: 600;
    background-color: #FBF8F3;
    border: solid 7px #BAB8B7;
    -webkit-box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    display: inline;

}

.parallax2 {
    background-image: url('../images/Untitled-2.svg');
    min-height: 900px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    padding-bottom: 40px;
    z-index: 9;
}

#projects {
    margin-bottom: 50px;
}

.class-personal-projects-title {
    margin-top: 20px;
    font-size: 30px;
    border-style: solid black 2px;
}

.applications-title-div {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 7%;
    margin-bottom: 30px;
}

.card {
    border: solid 7px #BAB8B7;
    padding: 3px 3px 0 3px;
    -webkit-box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);

}

#contact-info-div {
    padding-top: 0px;
    margin-top: 20;
    padding-top: 15px;
    background-color: white;
    height: auto;
    width: 100%;
}

.contact-title-div {
    width: 250px;
}

.contact-title {
    width: 250px;
    font-size: 40px;
    text-shadow: rgb(54, 66, 110) 0 2px 2px;
}

.resources-title {
    font-size: 35px;
    text-shadow: rgb(54, 66, 110) 0 2px 2px;

}

#lower-icons {
    width: 350px;
    padding-right: 0px;
}

.parallax3 {
    background-image: linear-gradient(to bottom, transparent, #DAE2F0), url('../images/geoCircle4.jpg');
    min-height: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}

.btn {
    font-size: 22px;
    font-weight: bold;
    white-space: normal;
    /* the 'white-space: normal' was necessary to keep text within the button space */
}

.copyright {
    font-size: 8px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.box-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
}

.gdi-logo {
    width: 75px;
    float: left;
    margin: 0px 8px 25px 0px;
}

.wwc-logo {
    height: 75px;
    float: left;
    padding-bottom: 10px;
    margin: 0px 8px 28px 0px;
}

.adC_logo {
    height: 50px;
    border-radius: 3px;
}

/* ----------------------- */

@media only screen and (max-width: 750px) {


    body {
        padding-right: 0px;
        padding-left: 0px;

        margin-left: 0px;

    }

    .container {
        padding-right: 0px;
        max-width: 97.5%;
    }

    h2.heading {
        font-size: 1.75em;
    }

    h2#about-me-title,
    .applications-title {
        font-size: 1.75em;
        font-weight: 500;
    }

    .top-title {
        padding: 8px;
        /* margin: 5px; */
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        display: block;
        text-align: center;
        box-shadow: none;
        border: solid 4px #BAB8B7;

    }

    #aboutMeDiv {
        border-radius: 0px;
        border: solid 4px #BAB8B7;
    }

    .card,
    .applications-title {
        border: solid 4px #BAB8B7;
        box-shadow: none;
    }

    p.about-me-text {

        font-size: 18px;
        /* padding-left: 2%; */
        padding-right: 2%;
        display: block;
    }

    nav.navbar.navbar-expand.top-nav {
        /* justify-items: center;
        text-align: center;
        display: block; */
        display: inline-block;
        float: none;
        vertical-align: top;

    }
    .parallax1 {
        padding-bottom: 10px;

    }
    .parallax2 {
        background-attachment: scroll;
    }

    .caption1 {
        padding-top: 52px;
    }

    #about-me {
        font-size: 30px;
    }

    .about-me-text {
        text-align: justify;
    }


    .resources-div {
        border: 1px solid gray;
        border-radius: 2px;
        margin: 5px;
    }

    .resources-title {
        font-size: h4;
    }
}

@media (min-width: 601px) {}

@media only screen and (max-width: 600px) and (min-width: 1024px) {
    .container {
        max-width: 98%;
    }
    .parallax2 {
        background-attachment: scroll;
    }


}

@media (min-width: 768px) {}




/* -webkit-box-shadow: -1px 25px 14px -12px rgba(0,0,0,0.49);
-moz-box-shadow: -1px 25px 14px -12px rgba(0,0,0,0.49);
box-shadow: -1px 25px 14px -12px rgba(0,0,0,0.49);
Copy Text */